@charset "UTF-8";


/*Header Styles*/
header img {
	width: 80%;
	max-width: 500px;
}

nav {
	display:flex;
	justify-content: space-around;
	width: 80%;
	max-width: 200px;
}

nav a {
	font-family: arial;
	font-size: large;
	text-decoration: none;
	color: #5e3b12;
}

nav a:hover { 
	COLOR: #5eca33; 
	TEXT-DECORATION: none; 
	font-weight: none 
}

/*Home Page Styling*/

.home-park-block a img {
	max-width: 100%;
	padding: 25px;
}

.home-park-block {
	padding-left: 10%;
}

.text-block {
	width:100%;
	max-width: 800px;	
}

.park-title a {
	text-decoration: none;
	color:black;
}

.park-description a {
	text-decoration: none;
	color:black;
}

/* Detail page styling */

#bigPicHolder {
	display: flex;
	justify-content: center;
	width:100%;
}

#bigPic {
	max-width: 499px;
	display: block;
}

.detail-text-block {
	max-width: 800px;
	width: 100%;
	font-family: arial;
	padding-left: 100px;
	padding-bottom: 100px;
}

#quoteHolder {
	display: flex;
	justify-content: center;
	width:100%;
}

#quote {
	font-style: italic;
	text-align:center;
}

#attribution {
	text-align:center;
}

#stat-holder {
	width: 75%;
	display: flex;
	justify-content: space-evenly;
	align-content: space-around;
	flex-wrap: wrap;
	justify-items: center;
}

.statistics-box {
	width: 200px;
	padding-bottom: 50px;
}

.big-number {
	font-family: arial;
	font-size: 35px;
	text-align: center;
	margin: 0px;
}

.subtitle {
	text-align: center;
	margin: 0px;
	font-family: arial;
}

#centerer {
	display: flex;
	justify-content: center;
}

#weather-box {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

#today-weather {
	font-family: arial;
	max-width: 250px;
	padding-right: 175px;
}

#today-weather { 
	padding-bottom: 10px;
}

#high-low {
	font-size: 25px;
	margin-bottom: 0px;
}

#five-day {
	display: flex;
	align-items: center;
	font-family: arial;	
}

.daily {
	width: 100px;
}

.daily img {
	width: 100%;
}




